body {
    padding: 0;
    margin: 0;
    background-image: url(./img/background.png); /* https://www.freepik.com/free-photo/home-office-workspace-copyspace-with-supplies-technology_14626518.htm#page=3&query=note%20paper&position=11  */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-color: rgb(180, 180, 180);
    background-attachment: fixed;
}

.container{
    background-color: #ffffff;
    position: absolute;
    width: 300px;
    padding: 0px 20px 20px 20px;
    top: calc(50vh - 25vh);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 7px;
    border-style: solid;
    border-color: #dfdfdf;
}

input {
    text-align: center;
    border-style: solid;
}
input :only-child{
    box
}

.adicionar {
    text-align: center;
}

.adicionar button {
    color: #000000;
    box-shadow: 0px 0px 10px black;
    background-color: #a3a3a3

}

li button{
    color: black;
    background-color: red;
    margin-right: 2px;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-family: 'Caesar Dressing', sans-serif;
    background-color: #a3a3a3;
    width: max-content;
    margin: 20px auto;
    border-radius: inherit;
    text-decoration: underline;
}


 li {
    list-style: none;
    margin: inherit;
}

.app {
    position: relative;
}